.root{
    -fx-background-color: #101010;
}

.label{
    -fx-text-fill: #eaeaea;
}

.button{
    -fx-text-alignment: center;
}

.text-field{
    -fx-background-color: #161616;
    -fx-text-fill: #eaeaea;
}

.table-view, .column-header {
    -fx-background-color: #161616;
    -fx-border-color: #404040;
}